<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <title>상담 내역 삭제</title>

  <link href="./semantic/dist/semantic.min.css" rel="stylesheet">
  <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="./semantic/dist/semantic.min.js"></script>

  <style>
    * {
      padding : 0;
      margin : 0;
      box-sizing : border-box;
    }

    html {
      width : 100%;
      height : 100%;
    }

    body {
      width : 100%;
      height : 100%;
      color : #000;
      background-color : #fff;
    }

    .container {
      width : 100%;
      height : 100%;
      display : flex;
      flex-flow : column wrap;
      align-items : center;
      justify-content: center;
    }

    #cardbox {
      width : 400px;
    }

    #iconImage {
      display : inline;
    }

    #titleText {
      font-size : 1.4em;
      font-weight : bold;
      color : #777;
    }

    #contentsText {
      color : #999;
    }

    #form1 {
      padding : 1em;
    }

    .row {
      height : 3em;
    }

    .col1 {
      width : 5em;
    }

    .inputbox {
      width : 20em;
    }

    #buttonContainer {
      padding-top : 0.6em;
      text-align : right;
    }
  </style>

</head>

<body>
<div class="container">
  <div id="cardbox" class="ui blue fluid card">
    <div class="content">
      <div class="left floated author">
        <img id="iconImage" class="ui avatar image" src="./images/author.png">
      </div>
      <div>
        <div id="titleText" class="header">상담 내역(고객) 삭제</div>
        <div id="contentsText" class="description">
          <br>
          이하 내용이 삭제 됩니다.<br>
          삭제 후 데이타 복원은 서버 관리자에게 문의해주세요.<br>
          [삭제]버튼을 누르세요.
        </div>
      </div>
    </div>

    <form id="form1" method="post" action="/process/delAccept">
      <table>
        <tr class="row">
          <td class="col1"><label id="contentsText">번호</label></td>
          <td class="col2" colspan="2">
            <div class="ui disabled input">
              <input class="inputbox" type="text" placeholder="" name="seq_no" value="<%=seq_no%>">
            </div>
          </td>
          <td></td>
        </tr>
        <tr class="row">
          <td class="col1"><label id="contentsText">이름</label></td>
          <td class="col2" colspan="2">
            <div class="ui disabled input">
              <input class="inputbox" type="text" placeholder="" name="uname" value="<%=uname%>">
            </div>
          </td>
          <td></td>
        </tr>
        <tr class="row">
          <td class="col1"><label id="contentsText">폰번호</label></td>
          <td class="col2" colspan="2">
            <div class="ui disabled input">
              <input class="inputbox" type="text" placeholder="" name="phone" value="<%=phone%>">
            </div>
          </td>
          <td></td>
        </tr>
        <tr class="row">
          <td class="col1"><label id="contentsText">담당자</label></td>
          <td class="col2" colspan="2">
            <div class="ui disabled left icon input">
              <input class="inputbox" type="text" placeholder="" name="member_id" value="<%=member_id%>">
              <i class="user icon"></i>
            </div>
          </td>
          <td></td>
        </tr>
        <tr class="row">
          <td class="col1"><label id="contentsText">금융사</label></td>
          <td class="col2" colspan="2">
            <div class="ui disabled left icon input">
              <input class="inputbox" type="text" placeholder="" name="corp" value="<%=corp%>">
              <i class="industry icon"></i>
            </div>
          </td>
          <td></td>
        </tr>
        <tr valign="baseline">
          <td>
            <input id="submitButton" class="ui primary button" type="submit" value="취소" formaction="/process/acceptList" formmethod="get" name="">
          </td>
          <td>
          </td>
          <td id="buttonContainer" align="right">
            <input id="submitButton" class="ui negative button" type="submit" value="삭제" name="">
          </td>
        </tr>
      </table>
    </form>

  </div>

</div>
</body>
</html>